VITE_SUPABASE_URL=https://dnvwyrvsoykfrouifzom.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRudnd5cnZzb3lrZnJvdWlmem9tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MDMzOTIsImV4cCI6MjA4OTE3OTM5Mn0.8g-4iscRP9tQcAnKQ9CAIW0HuB7KZbhSnQYkHSZ--rc

VITE_APP_KIND=admin

VITE_USER_APP_URL=http://localhost:5173
VITE_ADMIN_APP_URL=http://localhost:5174

# optional
# VITE_STATUS_EMAIL_WEBHOOK=